/*
 * Enterprise JSF project.
 *
 * Copyright 2023 e-Contract.be BV. All rights reserved.
 * e-Contract.be BV proprietary/confidential. Use is subject to license terms.
 */

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: gray;
}

h2 {
    color: #2196F3;
    font-size: large;
}

#header h1 {
    width: 70%;
    margin: 0 auto;
}

#content {
    width: 70%;
    margin: 0 auto;
    color: #303030;
}

#menu {
    width: 15%;
    position: absolute;
    top: 0%;
}

#menuPanel {
    margin-left: 1px;
    margin-right: 10px;
}

body .ui-menu .ui-menu-list .ui-menuitem > .ui-state-active {
    background-color: #2196F3;
}

body .ui-menu .ui-menu-list .ui-menuitem .ui-menuitem-link.ui-state-hover {
    background-color: lightgrey;
}

body .ui-menu .ui-menu-list .ui-menuitem .ui-menuitem-link.ui-state-hover .ui-menuitem-text {
    color: #ffffff;
}

body .ui-menu .ui-menu-list .ui-menuitem > .ui-state-active .ui-menuitem-text {
    color: #ffffff;
}
